.button-fb
{
    display: inline-flex;
    background-color: white;
    align-items: center;
    color: rgba(0, 0, 0, 0.54);
    box-shadow: rgb(0 0 0 / 24%) 0px 2px 2px 0px, rgb(0 0 0 / 24%) 0px 0px 1px 0px;
    padding: 5px;
    border-radius: 2px;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 500;
    font-family: Roboto, sans-serif;

}
.fa-btn
{
    padding-right: 10px;
    color: #4267B2;
    margin: 2px;
    font-size: 25px;
}

.social-section
{
    padding-left: 107px;
    padding-bottom: 7px;
}
.btn-sign
{
    font-size: 21px;
    font-weight: 600;
    border: 2px solid;
}
